.hidden { display:none; }
.icb_comment {
	overflow: auto;
	box-shadow: 2px 2px 5px #07162d;
	border-radius: 4px;
	min-width: 610px;
	background-color:#223a5f;
	padding:0px;
	padding-left:4px;
	padding-right:4px;
}
.icb_comment_group { margin-left: 30px; margin-top: 4px; }
#blip > .icb_comment_group { margin-left: 0px; }
.icb_body_text {
	margin-top:7px;
	margin-bottom:7px;
}
.icb_body_text p { margin-bottom: 0px !important; }
.icb_body_text p ~ p{ border-top: 2px solid rgba(255,255,255,0.1); }
.icb_body_text blockquote { margin:0px; padding:0px; padding-left: 2px; }
.icb_body_text > ul { margin:0px; }
.icb_info_bar {
	border-bottom:2px solid rgba(255,255,255,0.25);
	font-weight: bold;
	display: flex;
}
.icb_info_bar > * { margin-right:7px; }
.icb_toggler { font-family: monospace; padding-top:2px; }