.link { stroke: #999;  stroke-width: 3px; }
.idem_parent_thumbs {box-sizing: border-box; max-width:100px; max-height:100px}
.hidden {display:none;}
svg {background-color:#00759f;}
.parent-rule { width:245px; margin:2px; z-index:10; }