#ibp_container > *:not(:first-child) { width: 236px; }
#ibp_container .status-notice {
	margin: 0;
	padding: 3px;
	display: inline-block;
	margin-bottom: 5px;
	top: 0;
}
#ibp_toggler { width: calc(100% - (1em + 2px)); padding: 0.5em !important; }
#ibp_tools > div { cursor: pointer; }
.ibp_rule *:not(span){
	height: auto;
	width: auto;
	max-width: 100px;
	max-height: 100px;
	display: inline-block;
	box-shadow: none;
	padding:0px;
}

.ibp_rule > button {
	padding: 0px;
	border: 1px solid;
	cursor: pointer;
}

.ibp_remove_btn { background-color:red; border-color:orangered; }
.ibp_collapse_btn { background-color:orange; border-color:orangered; }
.ibp_flip_btn { background-color:plum; border-color:purple; }

.ibp_rule { padding:0.5em !important; }

.ibp_arrow1, .ibp_arrow2 { width: 10px; }