#ibp_graph { background-color:#284a81; }
#ibp_container > * > .status-notice {
	margin-bottom: 5px;
	padding: 3px;
}
#ibp_toggle_holder > button, #ibp_tools > button { color:white; }
#ibp_toggle_holder, #ibp_tools {
	display:flex;
}

#ibp_toggle_holder > :first-child { flex-grow:1; }
#ibp_toggle_holder > :first-child ~ * { margin-left:2px; }

#ibp_tools > :first-child ~ * { margin-left:2px; }



.ibp_rule { width:205px; padding:5px !important; }
.ibp_rule_tools {
	display:flex;
}
.ibp_rule_tools > button {
	padding: 0px;
	border: 1px solid;
	cursor: pointer;
}

.ibp_rule_data {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0px 5px;
}
.ibp_rule_data > *, .ibp_rule_data > a > img {
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: none;
	padding:0px;
	max-width: 100px;
	max-height: 100px;
}

.ibp_remove_btn { background-color:red; border-color:orangered; }
.ibp_collapse_btn { background-color:orange; border-color:orangered; }
.ibp_flip_btn { background-color:plum; border-color:purple; }